<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mashupgroup.weatherbear">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WeatherBearApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_weatherbear_app_mark_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_weatherbear_app_mark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".location.SelectLocationActivity" />
        <activity android:name=".location.SearchLocationActivity" />

        <receiver android:name=".widget.WeatherBoxWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wether_box_widget_info" />
        </receiver>
        <receiver android:name=".widget.WeatherBearHeadWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_bear_head_widget_info" />
        </receiver>
        <receiver android:name=".widget.WeatherBearHeadWidgetBg">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_bear_head_widget_bg_info" />
        </receiver>
        <receiver android:name=".widget.WeatherBoxWidgetBg">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_box_widget_bg_info" />
        </receiver>
    </application>

</manifest>